{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false,
                "corejs": "3",
                "targets": {
                    "browsers": ["last 2 versions"]
                }
            }
        ]
    ]
}